.screen-container {
    width: calc(100% - 100px);
    height: 100%;
    background-color: #1E2A3E;
    border-radius: 30px;
    background-color: #9f009c;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #001aad, #9f009c), repeating-radial-gradient(circle at center center, #001aad, #001aad, 7px, transparent 14px, transparent 7px);
    background-blend-mode: multiply;
}

.flex { 
    display: flex;
}